/* Write some CSS below */header {
  background-color: orange;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
}

.title {
  color: green;
  margin: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.slogan {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-style: italic;
}

ul{
	display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #E3704E;
}

img{
	position: left;
}

.coco{
	grid-template-columns: 1fr 1fr;
	display: 50px;
	grid-gap: 12 ;

}
.cards{
	grid-template-columns: 1fr 1fr;
	display: ;
	grid-gap: ;

}

.footer{
background-color:#E37725;
padding: 50px;


}
.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 24px;
  margin: 8px;
  flex-grow: 1;
}

a{
color: #230007;
text-align: right;


}
.banner{
background-color:#E37725; 
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  text-align: center;
}

h5{
background-color:rgb(255, 83, 13);
color: white;
padding: 16px 48px;
border-radius: 4px;
display: inline-block;
text-decoration: none;
transition: .3s;
font-size: 20px;
font-weight: bold;
background-position: center;

}
 header {
        background-color: #E37725;
        padding: 15px;
        align-items: center;
        text-align: center;

      }

      /* Définir le style pour la barre de recherche */
      .search-bar {
        margin-left: auto;
      }
    </style>

h3{
color:rgb(255, 83, 13);
}
h4{
	font-weight:lighter;
}
h1{
color: #305801;
font-family: font-family: 'Bruno Ace SC', cursive;
font-size: 70px;
font-weight: bold;
text-align: center;

}
h2{
	color: blue;
	color: rgb(255, 83, 13);
	font-family: 'Fredericka the Great', cursive;
	font-size: 40px;
	text-align: center;
}
body{
	background-color: #E4E0E0
}
a{
 text-decoration: none;;
 color: #D98324;
 font-size: 30px;
 text-align: right;

}
p{
	font-size: 40px;
    font-family:'Dancing Script', cursive;
    text-decoration: underline ;
	font-weight: lighter;
	color:#305801;
